.app{
    width:100%;
    max-width:80% ;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
     overflow: hidden;
}
@media (max-width:500px){
    .app{
       max-width:100%;
    }
   
}